img_*.png
*.csv
*/.venv/*

__pycache__/
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DS_Store
.env
.env.*.local
.env.local
.idea_modules/
.idea/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.venv
.VolumeIcon.icns
*.egg
*.egg-info/
*.iml
*.iws
*.log
*.py[cod]
*.so
*.sqlite
*/.ipynb_checkpoints/*
*$py.class
build/
develop-eggs/
dist/
eggs/
env.bak/
env/
ENV/
Icon
Network Trash Folder
parts/
sdist/
Temporary Items
var/
venv.bak/
venv/
